.smallpic{
    height: 30px;
    border-radius: 25px;
}


/* 
.view,body,html{height:100%}
.carousel{height:50%}
.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}
@media (max-width:776px){.carousel{height:100%}}.page-footer{background-color:#929FBA} */

.imagelist{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template: 1fr /repeat(auto-fit,minmax(204px,0fr));
}

.imagelists{
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template: 1fr /repeat(auto-fit,minmax(204px,0fr));
}

.home {
    left: 235px;
    position: relative;
    width: 83%;
}

.alllist {
    width: 100%;
    display: grid;
    grid-gap: 10px;
    grid-template: 1fr /repeat(auto-fit,minmax(204px,0fr));
    left: 20px;
    position: relative;
}

.commentinfo {
    margin: 5px;
        display: -webkit-box !important;
        margin-bottom: 20px !important;
    }

@media (max-width: 762px){
    .imagelist{
        grid-template: 1fr /repeat(auto-fit,minmax(130px,1fr));
        width: 100%;
    }

    .imagelists{
        grid-template: 1fr /repeat(auto-fit,minmax(160px,1fr));
        width: 100%;
    }

    .home {
        left: 0px;
        position: relative;
        width: 100%;
    }
    .alllist {
        grid-template: 1fr /repeat(auto-fit,minmax(150px,1fr));
        left: 0px;
    }

}
